<app-menu></app-menu>
<ngx-loading-bar></ngx-loading-bar>
<div class="content">
  <div class="grid grid-cols-12 gap-6 mt-8">
    <div class="intro-y box col-span-12 sm:col-span-4">
      <div class="flex items-center px-5 py-5 sm:py-3 border-b border-gray-200">
        <h2 class="font-medium text-base mr-auto">Available in purchasing system ({{ps_items ? ps_items.length : 0}})</h2>
        <div class="relative text-gray-700">
          <input type="text" class="input input--lg w-full lg:w-64 box pr-10 placeholder-theme-13" placeholder="Search purchasing items..." (keyup)="search_ps_item($event)">
          <i class="w-4 h-4 absolute my-auto inset-y-0 mr-3 right-0" data-feather="search" appFeatherIcon></i>
        </div>
      </div>
      <div class="p-5">
        <div *ngFor="let item of ps_items; idx as index" class="relative flex items-center mb-2">
          <div class="w-12 h-12 flex-none image-fit">
            <img
              alt="Inventory system image"
              class="rounded-full"
              src="{{item.image}}"
            />
          </div>
          <div class="ml-4 mr-auto w-3/5">
            <p class="font-medium">
              {{item.description}}
              <span *ngIf="item.category=='dry'" class="px-2 ml-2 rounded-full border border-theme-12 text-theme-12">dry</span>
              <span *ngIf="item.category=='frozen'" class="px-2 ml-2 rounded-full border border-theme-3 text-theme-3">frozen</span>
            </p>
            <div class="text-gray-600 mr-5 sm:mr-5">
              {{item.vendor_description}}
            </div>
            <div class="text-gray-600 mr-5 sm:mr-5">
              Packing info: {{item.packing_info}}
            </div>
          </div>
          <div class="font-medium text-gray-700 w-1/5 sm:w-auto">
            <button title="Add this item to inventory system" *ngIf="!item.added" class="px-2 sm:px-3 sm:py-1 rounded-full border border-theme-9 text-theme-9 cursor-pointer" (click)="add_or_update_to_is(item.inventory_id, 'add')">+ ADD</button>
            <button title="This item was already added to inventory system" *ngIf="item.added" class="px-2 sm:px-3 sm:py-1 rounded-full border border text-gray-600 cursor-not-allowed">ADDED</button>
          </div>
        </div>
      </div>
    </div>
    <div class="intro-y box col-span-12 sm:col-span-8">
      <div class="flex items-center px-5 py-5 sm:py-3 border-b border-gray-200">
        <h2 class="font-medium text-base mr-auto">Available items to count ({{is_items ? is_items.length : 0}})</h2>
        <div class="relative text-gray-700">
          <input type="text" class="input input--lg w-full lg:w-64 box pr-10 placeholder-theme-13" placeholder="Search countable items..." (keyup)="search_is_item($event)">
          <i class="w-4 h-4 absolute my-auto inset-y-0 mr-3 right-0" data-feather="search" appFeatherIcon></i>
        </div>
      </div>
      <div class="p-5">
        <div *ngFor="let item of is_items; idx as index" class="relative flex items-center mb-2">
          <div class="w-12 h-12 flex-none image-fit">
            <img
              alt="Inventory system image"
              class="rounded-full"
              src="{{item.image}}"
            />
          </div>
          <div class="ml-4 mr-auto w-3/5">
            <p class="font-medium">
              {{item.description}}
              <span *ngIf="item.category=='dry'" class="px-2 ml-2 rounded-full border border-theme-12 text-theme-12">dry</span>
              <span *ngIf="item.category=='frozen'" class="px-2 ml-2 rounded-full border border-theme-3 text-theme-3">frozen</span>
            </p>
            <div class="text-gray-600 mr-5 sm:mr-5">
              {{item.vendor_description}}
            </div>
            <div class="text-gray-600 mr-5 sm:mr-5">
              Safety Qty: {{item.safety_qty}}{{item.primary_unit}} 
            </div>
          </div>
          <div class="font-medium text-gray-700 w-1/5 sm:w-auto">
            <button title="Edit this item" class="mr-2 px-2 sm:px-3 sm:py-1 rounded-full border border-theme-9 text-theme-9 cursor-pointer" (click)="add_or_update_to_is(item.inventory_id, 'update')">Update</button>
            <button title="Remove this item from count list" class="px-2 sm:px-3 sm:py-1 rounded-full border border-theme-6 text-theme-6" (click)="remove_item(item.id)">REMOVE</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
