<app-menu></app-menu>
<ngx-loading-bar></ngx-loading-bar>
<div class="content">
  <div class="grid grid-cols-12 gap-6 mt-8">
    <div class="intro-y box col-span-12 sm:col-span-6">
      <div class="flex items-center px-5 py-5 sm:py-3 border-b border-gray-200">
        <h2 class="font-medium text-base mr-auto">Countable items ({{is_items ? is_items.length : 0}})</h2>
        <div class="relative text-gray-700">
          <input type="text" class="input input--lg w-full lg:w-64 box pr-10 placeholder-theme-13" placeholder="Search countable items..." (keyup)="search_is_item($event)">
          <i class="w-4 h-4 absolute my-auto inset-y-0 mr-3 right-0" data-feather="search" appFeatherIcon></i>
        </div>
      </div>
      <div class="p-5">
        <ng-template ngFor let-item [ngForOf]="is_items" let-i="index">
          <ng-template ngFor let-pitem [ngForOf]="ps_items" let-i="index">
            <div *ngIf="item['inventory_id'] == pitem['inventory_id']" class="relative flex items-center mb-2">
              <div class="w-12 h-12 flex-none image-fit">
                <img
                  alt="Inventory system image"
                  class="rounded-full"
                  src="{{pitem.image}}"
                />
              </div>
              <div class="ml-4 mr-auto w-3/5">
                <p class="font-medium">
                  {{pitem.description}}
                  <span *ngIf="pitem.category=='dry'" class="px-2 ml-2 rounded-full border border-theme-12 text-theme-12">dry</span>
                  <span *ngIf="pitem.category=='frozen'" class="px-2 ml-2 rounded-full border border-theme-3 text-theme-3">frozen</span>
                </p>
                <div class="text-gray-600 mr-5 sm:mr-5">
                  {{pitem.vendor_description}}
                </div>
                <div class="text-gray-600 mr-5 sm:mr-5">
                  Packing info: {{pitem.packing_info}}
                </div>
              </div>
              <div class="font-medium text-gray-700 w-1/5 sm:w-auto">
                <button title="Add this item to inventory system" *ngIf="!item.added" class="px-2 sm:px-3 sm:py-1 rounded-full border border-theme-9 text-theme-9 cursor-pointer" (click)="add_to_count(item.inventory_id, 'add')">+ ADD</button>
              </div>
            </div>
          </ng-template>
        </ng-template>
        
      </div>
    </div>
    <div class="intro-y box col-span-12 sm:col-span-6">
      <div class="flex items-center px-5 py-5 sm:py-3 border-b border-gray-200">
        <h2 class="font-medium text-base mr-auto">Counted items(0)</h2>
      </div>
      <div class="p-5">

      </div>
    </div>
  </div>
</div>
